html {
  background-color:rgb(239, 177, 54) ;
  color: rgb(13, 102, 38);
}
.gameCanvas{
  border-radius: 15%;
}
#start{
  background: rgb(230, 230, 230);
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 50%;
  border:2px solid #d1f96d;
  font-size: large;
  display: none;
cursor: pointer;
}




.game-body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#score {
  font-size: 90px;
  font-family: sans-serif;
}
